src/main/mule/ibm-i-mule-api-consumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:as400="http://www.mulesoft.org/schema/mule/as400"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/as400 http://www.mulesoft.org/schema/mule/as400/current/mule-as400.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
    <configuration-properties file="app.properties" doc:name="Configuration properties"/>
    
    <as400:config name="AS400_Config" doc:name="AS400 Config">
        <as400:config-connection endpoint="${as400.endpoint}" userid="${as400.user}" password="${as400.pwd}" />
    </as400:config>

    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration">
		<http:request-connection host="currencyexchange.cloudhub.io"/>
	</http:request-config>
	
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
        <http:listener-connection host="localhost" port="8081" />
    </http:listener-config>
    
	<flow name="MainFlow">
		<as400:read-data-queue config-ref="AS400_Config" dtaq="${as400.req.queue}" library="${as400.library}" dtaqKey="''" dtaqKeySearchType="NOT_EQUAL" doc:name="Read data queue" formatFileName="${as400.fmtname}" formatFileLibrary="${as400.fmtlibrary}" numberOfConsumers="1" />
		<logger message="Transaction:  #[attributes.key] START: Received payload::  #[payload]" 
            level="INFO" doc:name="Log Transaction Received" />
        <set-variable variableName="correlationID" value="#[attributes.key]" doc:name="Save Trans ID" />
		<http:request config-ref="HTTP_Request_configuration" method="GET" path="/api/exchange" doc:name="REST API Get Exchange Rate" target="exchangeRate" targetValue="#[payload.exchangeRate]" outputMimeType="application/json">
			<http:query-params ><![CDATA[#[output application/java
---
{
	fromCCY : payload.FROMCCY,
	toCCY : payload.TOCCY
}]]]></http:query-params>
		</http:request>
		<logger message="Transaction: #[vars.correlationID] WIP: Received Exchange rate: #[vars.exchangeRate] payload: #[payload]" level="INFO" doc:name="Log Rate Received" />
		<ee:transform doc:name="Transform Message" doc:id="53b6f27d-c04e-442e-a30d-699da4fb6b8f">
			<ee:message >
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	FROMCCY: payload.FROMCCY as String,
	TOCCY: payload.TOCCY as String,
	RATE: vars.exchangeRate as Number
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<as400:write-data-queue config-ref="AS400_Config" library="${as400.library}" 
            dtaq="${as400.res.queue}" dtaqKey="#[vars.correlationID]" doc:name="Write AS400 response (Rates)" formatFileName="${as400.fmtname}" formatFileLibrary="${as400.fmtlibrary}">
            <as400:dq-entry><![CDATA[#[%dw 2.0
output application/java
---
write(payload,"application/json")]]]></as400:dq-entry>
        </as400:write-data-queue>
		<logger message="Transaction: #[vars.correlationID] COMPLETED: Received Exchange rate: #[payload], sent response to AS400" 
            level="INFO" doc:name="Log Completion"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" type="ANY">
				<logger message="Transaction: #[vars.correlationID] FAILED with  exception #[error]" 
				    level="ERROR" doc:name="Log Exception" />
		<ee:transform doc:name="Transform Error Message" doc:id="4558ae4a-a3aa-406a-a415-e3caeda4cec1">
			<ee:message >
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	ERRCODE: -1,
	ERRMSG: ("Transaction failed " ++ (error.description default " no description")) [0 to 49]
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				    
				<as400:write-data-queue config-ref="AS400_Config" library="${as400.library}" 
				    dtaq="${as400.res.queue}" dtaqKey="#[vars.correlationID]" doc:name="Write AS400 response (ERROR)"  formatFileName="${as400.fmtname}" formatFileLibrary="${as400.fmtlibrary}">
					<as400:dq-entry><![CDATA[#[%dw 2.0
output application/java
---
write(payload,"application/json")]]]></as400:dq-entry>
				</as400:write-data-queue>
			</on-error-continue>
		</error-handler>  
    </flow>
</mule>
